---
// src/layouts/Layout.astro
// Supports weights 300-900
// Supports weights 200-800
import '@fontsource-variable/karla';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
  isStorePage?: boolean;
}

const { title, description = 'Music Production Store', isStorePage = false } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/my-23favicon.svg" />
    
    <!-- Google tag (gtag.js) -->
    <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-G3J4447L1T"></script>
      <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
    gtag("js", new Date());
    gtag('config', 'G-G3J4447L1T');
  </script>
<!-- Google tag (gtag.js) -->
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-white">
    <Header />
    <main class={`grow ${isStorePage ? '' : 'pt-16'}`}>
      <slot />
    </main>
    {!isStorePage && <Footer />}
  </body>
</html>